<!-- <%- include('partials/header') -%> -->

    <h2>Company name: <%= name %>
    </h2>

    <ul>
        <% companies.forEach(company=> { %>
            <li>
                <%= company.name %>
            </li>
            <% }); %>

    </ul>

    <!-- <%- include('partials/footer') -%>  po utworzeniu layoutu to już nie jest potrzebne a tylko samo body-->  