<!-- tylko treść body -->
<h2>This is main page received from a server</h2>

<% if (user) { %>
    <div>
        <p>User logged in.</p>
        <p>name: <%- user.email%></p>
        <p>id: <%- user._id%></p>
    </div>
    <% } else { %>
        <div class="mt-3">Register and create account or log in, please.</div>
        <% } %>