<form method="POST" action="/admin/companies/add">
    <div class="mb-3">
        <label for="" class="form-label">Company name</label>
        <input type="text" name="name" class="form-control" required>
        <div class="form-text">Minimum 3 characters</div>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Slug</label>
        <input type="text" name="slug" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Employees count</label>
        <input type="number" name="employeesCount" class="form-control">
    </div>

    <button class="btn btn-primary">Add company</button>
</form>