<form method="POST" action="/admin/companies/add">
    <div class="mb-3">
        <label for="" class="form-label">Company name</label>
        <input type="text" name="name" class="form-control 
        <% if (typeof errors !=='undefined' && errors.name ) { %>
            is-invalid
            <% } %>
        " required>
        <% if (typeof errors !=='undefined' && errors.name ) { %>
            <div class="invalid-feedback">
                <%= errors.name.message %>
            </div>
            <% } %>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Slug</label>
        <input type="text" name="slug" class="form-control 
        <% if (typeof errors !=='undefined' && errors.slug ) { %>
            is-invalid
            <% } %>
        " required>
        <div class="form-text">Minimum 3 characters</div>
        <% if (typeof errors !=='undefined' && errors.slug ) { %>
            <div class="invalid-feedback">
                <%= errors.slug.message %>
            </div>
            <% } %>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Employees count</label>
        <input type="number" name="employeesCount" class="form-control">
    </div>

    <button class="btn btn-primary">Add company</button>
</form>

<% if (typeof errors !=='undefined' ) { %>
    <div class="alert alert-danger mt-3">Something went wrong:
        <ul>
            <% for (const key in errors) { %>
                <li>
                    <%= errors[key].message %>
                </li>
                <% } %>
        </ul>
    </div>
    <% } %>