<h3>Companies:</h3>

<ul>
    <% companies.forEach(company=> { %>

        <div class="card bg-dark mb-3">
            <div class="card-body">
                <p class="h3 mb-4">
                    <%= company.name %>
                </p>
                <a href='/companies/<%= company.slug %>' class="btn btn-primary">Show company</a>
                <a href='/admin/companies/<%= company.slug %>/edit' class="btn btn-warning">Edit company</a>
                <a href='/admin/companies/<%= company.slug %>/delete' class="btn btn-danger">Delete company</a>
            </div>
        </div>
        <% }); %>
</ul>