<div class="row">
    <div class="col">
        <p>Results: <%- companies.length %> of <%- resultsCount %></p>

        <nav>
            <ul class="pagination">
                <% for (let i=0; i < pagesCount; i++) { %>
                    <li class="page-item"><a class="page-link" href="#"><%- i+1 %></a></li>
                    <% } %>
            </ul>
        </nav>
    </div>
</div>